# DATA STRUCTURES
1. Tuple
    - Tuple is an `ordered` collection of elements enclosed within ()
    - Tupes are `immutable`, you can not change the value after storing.
    - tup = (1, "a", True)
2. List
    - List is an `unordered` collection of elements enclosed within []
    - Lists are `mutable`, you can change the value after storing.
    - lst = [1, "a", True]
3. Dictionary
    - Dictionary is an `unordered` collection of key-value pairs enclosed with {}
    - Dictionary is `mutable`
    - Fruit = {"Apple": 10, "Organge": 20}
4. Set
    - Set is an `unordered` and `unindexed` collection of elements enclosed with {}
    - `Duplicates` are not allowd in Set
    - s1 = {1, "a", True}

![image](images/19.png)

### Examples of tuple

In [3]:
tup1 = (1, "a", True, 2, "b", False)

print(type(tup1))

# Extracting individual elements
print(tup1[0])
print(tup1[-1])
print(tup1[1:4])

# Finding length of tuple
print(len(tup1))

# Concatenating tuples
tup2 = (1, 2, 3)
tup3 = (4, 5, 6)

tup2 + tup3

# Repeating tuple elements
tup4 = ("sparta", 300)
tup4 * 3

<class 'tuple'>
1
False
('a', True, 2)
6

('sparta', 300, 'sparta', 300, 'sparta', 300)

### Tuple Functions

In [ ]:
print(min(tup2)) # min func
print(max(tup2)) # max func

1
3

### Examples of list

In [19]:
# extracting individual elements
l1 = [1, "a", 2, "b", 3, "c"]
print(l1[2]) 
print(l1[2 : 5])

2
[2, 'b', 3]

In [20]:
# modifying a list
l1[0] = 100
l1

[100, 'a', 2, 'b', 3, 'c']

In [21]:
# popping the last element
l1.pop()
l1

[100, 'a', 2, 'b', 3]

In [22]:
# appending a new element
l1.append("sparta")
l1

[100, 'a', 2, 'b', 3, 'sparta']

In [23]:
# reversing elements of a list
l1.reverse()
l1

['sparta', 3, 'b', 2, 'a', 100]

In [24]:
# sorting a list
l2 = ["mango", "banana", "guava", "apple"]
l2.sort()
l2

['apple', 'banana', 'guava', 'mango']

In [ ]:
# inserting element at a specified index
l1.insert(4, 200) # insert 200 at index 4
l1

['sparta', 3, 'b', 2, 200, 'a', 100]

In [26]:
# concatenating lists
l1 + l2

['sparta', 3, 'b', 2, 200, 'a', 100, 'apple', 'banana', 'guava', 'mango']

In [27]:
# repeating elements
l2 * 2

['apple', 'banana', 'guava', 'mango', 'apple', 'banana', 'guava', 'mango']

### Examples of dictionary

In [28]:
d1 = {
    "Apple": 50,
    "Mango": 100,
    "Guava": 200,
    "Banana": 500,
    "Kiwi": 90,
    "Pineapple": 180
}

type(d1)

dict

In [29]:
# extracting keys
d1.keys()

dict_keys(['Apple', 'Mango', 'Guava', 'Banana', 'Kiwi', 'Pineapple'])

In [30]:
# extracting values
d1.values()

dict_values([50, 100, 200, 500, 90, 180])

In [31]:
# adding a new element
d1["Strawberry"] = 230
d1

{'Apple': 50,
 'Mango': 100,
 'Guava': 200,
 'Banana': 500,
 'Kiwi': 90,
 'Pineapple': 180,
 'Strawberry': 230}

In [32]:
# changing an existing element
d1["Apple"] = 70
d1

{'Apple': 70,
 'Mango': 100,
 'Guava': 200,
 'Banana': 500,
 'Kiwi': 90,
 'Pineapple': 180,
 'Strawberry': 230}

In [33]:
# update one dictionary's elements with another
d2 = {"Grape": 22,
    "Blueberry": 55,
    "PassionFruit": 290
}

d1.update(d2)
d1

{'Apple': 70,
 'Mango': 100,
 'Guava': 200,
 'Banana': 500,
 'Kiwi': 90,
 'Pineapple': 180,
 'Strawberry': 230,
 'Grape': 22,
 'Blueberry': 55,
 'PassionFruit': 290}

In [34]:
# popping an element
d1.pop("PassionFruit")
d1

{'Apple': 70,
 'Mango': 100,
 'Guava': 200,
 'Banana': 500,
 'Kiwi': 90,
 'Pineapple': 180,
 'Strawberry': 230,
 'Grape': 22,
 'Blueberry': 55}

### Examples of set

In [49]:
# add an element in a set
s1 = {1, "a", True, 2, "b", False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

In [50]:
# updating multiple elements
s1.update([10, 20, 30, "Bye"])
s1

{1, 10, 2, 20, 30, 'Bye', False, 'Hello', 'a', 'b'}

In [51]:
# removing an element
s1.remove("Bye")
s1

{1, 10, 2, 20, 30, False, 'Hello', 'a', 'b'}

In [52]:
# union of two sets
s2 = {1, 2, 3}
s3 = {"a", "b", "c"}
s2.union(s3)

{1, 2, 3, 'a', 'b', 'c'}

In [53]:
# intersection of two sets
s4 = {1, 2, 3, 4, 5, 6, 7, 8}
s5 = {5, 6, 7, 8, 9, 10}
s4.intersection(s5)

{5, 6, 7, 8}